.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
}
.title {
    margin: 0;
}
.content {
    margin-top: 24px;
}
.editor-container {
    display: flex;
    justify-content: space-between;
}
.xml-editor {
    width: 48%;
    height: 500px;
    border: 1px solid grey;
    margin-right: 20px;
}
.xml-editor-data {
    width: 48%;
    height: 500px;
    border: 1px solid grey;
}
.card-preview {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.card-holder {
    border: 1px solid;
}
